---
http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9325ef435b17d2ef4894be88211999e5"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"7HTMLN7EMN1T","meta":{"available_cents":447500}}]}'
  recorded_at: Thu, 07 Jan 2021 21:13:37 GMT
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: UTF-8
      string: '{"external_id":"{\"person_id\":20900,\"giftable_id\":1447,\"giftable_type\":\"Invitation\"}","payment":{"funding_source_id":"7HTMLN7EMN1T"},"reward":{"value":{"denomination":"25.00","currency_code":"USD"},"campaign_id":"NZQW0MOQI8BD","recipient":{"name":"Doyle
        Renner","email":"sunni_hettinger@koelpin.name","phone":"+13815549904"},"delivery":{"method":"LINK"}}}'
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cad5d393598908e308065718ff297799"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"9NXKVYLDOBRV","external_id":"{\"person_id\":20900,\"giftable_id\":1447,\"giftable_type\":\"Invitation\"}","payment":{"subtotal":25.0,"total":25.0,"fees":0.0},"rewards":[{"id":"1VIV45YSS226","order_id":"9NXKVYLDOBRV","value":{"denomination":25.0,"currency_code":"USD"},"delivery":{"method":"LINK","link":"https://testflight.tremendous.com/rewards/payout/vmg9ck1fb","status":"SUCCEEDED"},"recipient":{"email":"sunni_hettinger@koelpin.name","name":"Doyle
        Renner","phone":"138-155-4990"}}]}}'
  recorded_at: Thu, 07 Jan 2021 21:13:39 GMT
recorded_with: VCR 6.0.0
