---
http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef912f1121aedd3cd7c7d1fa6ba6d726"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"7HTMLN7EMN1T","meta":{"available_cents":477500}}]}'
  recorded_at: Sat, 30 Jan 2021 00:26:46 GMT
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: UTF-8
      string: '{"external_id":"{\"person_id\":11732,\"giftable_id\":440,\"giftable_type\":\"Invitation\"}","payment":{"funding_source_id":"7HTMLN7EMN1T"},"reward":{"value":{"denomination":"25.00","currency_code":"USD"},"products":["ET0ZVETV5ILN","A2J05SWPI2QG","Q24BD9EZ332JT","I5QBWVUT475B","HX4U3DQX6GSA","OGRN4AY3ZCU0","GQD8PSTPW669","XLSYBG2D89GX","11Z8KYY1EQL5","TJ0XGT4PUMBT","N0ZVVVUL0S4T","3JT4CJMFX36H","L9H2P9DDH880","2XAKMDZLS961","XO8CG500XKC7","T68XY0BV6GLH","OA7S3UDEDJLY","OKMHM2X2OHYV","VW9JLMPRL9N7","WN1IA9T40KPX","NKGJC36WKZVC","OVUMJ67R6L3A","3KZO3OX1N39R","F647I4Y3KUNV","A39S5PIAK27Q","TSBKOEJG2FBE","UM58QF88CH8B","ITUYGZLRAQDB","JD1AO1QD2MBG","PEWG3XDANAC1","DN4FLR8L7AP8","LQ7K9IGWTFQN","BXF3YOG6EGJ4","64[...]
