---
http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a3493001fcdb2e83d2327bab94caeb8"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"7HTMLN7EMN1T","meta":{"available_cents":450000}}]}'
  recorded_at: Thu, 07 Jan 2021 21:13:33 GMT
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: UTF-8
      string: '{"external_id":"{\"person_id\":20893,\"giftable_id\":1446,\"giftable_type\":\"Invitation\"}","payment":{"funding_source_id":"7HTMLN7EMN1T"},"reward":{"value":{"denomination":"25.00","currency_code":"USD"},"campaign_id":"NZQW0MOQI8BD","recipient":{"name":"Karl
        Stehr","email":"robbie@goldner.io","phone":"+17022221302"},"delivery":{"method":"LINK"}}}'
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89130f273fe5264dc99aca4b9fb096b7"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"4E5270WT7PH1","external_id":"{\"person_id\":20893,\"giftable_id\":1446,\"giftable_type\":\"Invitation\"}","payment":{"subtotal":25.0,"total":25.0,"fees":0.0},"rewards":[{"id":"W0ESFW2QFKVH","order_id":"4E5270WT7PH1","value":{"denomination":25.0,"currency_code":"USD"},"delivery":{"method":"LINK","link":"https://testflight.tremendous.com/rewards/payout/29s764yq0","status":"SUCCEEDED"},"recipient":{"email":"robbie@goldner.io","name":"Karl
        Stehr","phone":"170-222-2130"}}]}}'
  recorded_at: Thu, 07 Jan 2021 21:13:34 GMT
recorded_with: VCR 6.0.0
