---
http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"857a2d98ca67600dacada06948ce9b9a"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"7HTMLN7EMN1T","meta":{"available_cents":460000}}]}'
  recorded_at: Thu, 07 Jan 2021 21:12:21 GMT
[...]
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: UTF-8
      string: '{"external_id":"{\"person_id\":20811,\"giftable_id\":\"1419\",\"giftable_type\":\"Invitation\"}","payment":{"funding_source_id":"7HTMLN7EMN1T"},"reward":{"value":{"denomination":"100.00","currency_code":"USD"},"campaign_id":"NZQW0MOQI8BD","recipient":{"name":"Rosalva
        Raynor","email":"agueda_borer@ratke.com","phone":"+17623904084"},"delivery":{"method":"LINK"}}}'
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22eb2bb4810af96ac6f817af5dde17a7"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"2J35K0IRJYHQ","external_id":"{\"person_id\":20811,\"giftable_id\":\"1419\",\"giftable_type\":\"Invitation\"}","payment":{"subtotal":100.0,"total":100.0,"fees":0.0},"rewards":[{"id":"J16YD9DPY1N1","order_id":"2J35K0IRJYHQ","value":{"denomination":100.0,"currency_code":"USD"},"delivery":{"method":"LINK","link":"https://testflight.tremendous.com/rewards/payout/vnp0mw23e","status":"SUCCEEDED"},"recipient":{"email":"agueda_borer@ratke.com","name":"Rosalva
        Raynor","phone":"176-239-0408"}}]}}'
  recorded_at: Wed, 13 Jan 2021 22:12:26 GMT
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/rewards/J16YD9DPY1N1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer superfake
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"message":"Invalid Access token","payload":{}}}'
  recorded_at: Thu, 21 Jan 2021 03:59:14 GMT
recorded_with: VCR 6.0.0
