---
http_interactions:
- request:
    method: get
    uri: https://testflight.giftrocket.com/api/v1/funding_sources?access_token=5bf0ImG7ADeup5vUN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"094398d430d1d0f5cf2ad701d7ac062e"
    body:
      encoding: ASCII-8BIT
      string: '{"funding_sources":[{"method":"balance","id":"8LQBI4C61HO7","meta":{"available_cents":479600}}]}'
  recorded_at: Sat, 06 Apr 2019 00:40:57 GMT
[...]
- request:
    method: get
    uri: https://testflight.giftrocket.com/api/v1/campaigns?access_token=5bf0ImG7ADeup5vUN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f76de58583d72fcdb259a69422c25c33"
    body:
      encoding: ASCII-8BIT
      string: '{"campaigns":[]}'
  recorded_at: Fri, 12 Apr 2019 01:45:02 GMT
- request:
    method: post
    uri: https://testflight.giftrocket.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"external_id":"{\"person_id\":117,\"giftable_id\":\"5\",\"giftable_type\":\"Invitation\"}","funding_source_id":"8LQBI4C61HO7","campaign_id":null,"gifts":[{"amount":"100.00","recipient":{"name":"Wilbur
        Satterfield","delivery_method":"LINK"}}],"access_token":"5bf0ImG7ADeup5vUN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f97424e3fc5a500d7de8517bccb58ac2"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"8332MI0XWXMH","external_id":"{\"person_id\":117,\"giftable_id\":\"5\",\"giftable_type\":\"Invitation\"}","sender":{"name":"Bill
        Cromie","email":"bill@robinhood.org"},"gifts":[{"id":"2BKYGMVNQOO0","amount":100.0,"currency":{"code":"USD","exchange_rate":0.0},"events":{"created_at":"2019-04-06T00:45:14.989Z"},"order_id":"8332MI0XWXMH","catalog":["ET0ZVETV5ILN","A2J05SWPI2QG","Q24BD9EZ332JT","HX4U3DQX6GSA","GQD8PSTPW669","3JT4CJMFX36H","OKMHM2X2OHYV","DYHLA54LEX11","FSRS8XX5PPO4","PLZ0L3G41SFP","2JFKPXBWDC1K","Z88EGMSRRFK4","ZE43LIIZ9B8J","J5WRZBI7R5T6","ZPS6VX4P9WT6","PZ9ZOHUYT5VW","N7XGUA9XXFAB","VKURYR906AG9","EZ9TELXE8OYB","9O0IZJV353C5","C9N9S97PA7QL","JXWDR6H0TZSU","D3Q6W3DZQTTZ","D10I41FSRBYY","JMLF355XIZAA","L2GWTDUIMWLD","9YFXHOCSPFLN","TEWBVVCCLMGB","YMDFMDVLMJCS","E6YMI55YSEY6","J8IF1NOYS959","R12S6QRP70TG","YXXFIV4GQX3D","EB[...]
