---
http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"857a2d98ca67600dacada06948ce9b9a"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"7HTMLN7EMN1T","meta":{"available_cents":460000}}]}'
  recorded_at: Thu, 07 Jan 2021 21:12:21 GMT
[...]
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: UTF-8
      string: '{"external_id":"{\"person_id\":20811,\"giftable_id\":\"1419\",\"giftable_type\":\"Invitation\"}","payment":{"funding_source_id":"7HTMLN7EMN1T"},"reward":{"value":{"denomination":"100.00","currency_code":"USD"},"campaign_id":"NZQW0MOQI8BD","recipient":{"name":"Rosalva
        Raynor","email":"agueda_borer@ratke.com","phone":"+17623904084"},"delivery":{"method":"LINK"}}}'
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22eb2bb4810af96ac6f817af5dde17a7"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"2J35K0IRJYHQ","external_id":"{\"person_id\":20811,\"giftable_id\":\"1419\",\"giftable_type\":\"Invitation\"}","payment":{"subtotal":100.0,"total":100.0,"fees":0.0},"rewards":[{"id":"J16YD9DPY1N1","order_id":"2J35K0IRJYHQ","value":{"denomination":100.0,"currency_code":"USD"},"delivery":{"method":"LINK","link":"https://testflight.tremendous.com/rewards/payout/vnp0mw23e","status":"SUCCEEDED"},"recipient":{"email":"agueda_borer@ratke.com","name":"Rosalva
        Raynor","phone":"176-239-0408"}}]}}'
  recorded_at: Wed, 13 Jan 2021 22:12:26 GMT
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/rewards/J16YD9DPY1N1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer superfake
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"message":"Invalid Access token","payload":{}}}'
  recorded_at: Thu, 21 Jan 2021 03:59:14 GMT
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer superfake
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html xmlns:tremendous='http://www.tremendous.com/ns#'>\n<head
        prefix='og: http://ogp.me/ns# tremendous: http://ogp.me/ns/apps/tremendous#'>\n<script
        type=\"text/javascript\">var _sf_startpt=(new Date()).getTime()</script>\n<link
        rel=\"stylesheet\" media=\"all\" href=\"https://testflight.tremendous.com/assets/application-d6d5a6b44bd0e98ebdcf73bbac1767d14367a5b0085efd46669ecded55b33f58.css\"
        />\n<title>\nApplication Error | Tremendous\n</title>\n<link href='/favicon.png'
        rel='shortcut icon'>\n<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>\n\n\n\n<body>\n
        \ <div style=\"padding: 20px\">\n    <h1 style=\"font-size:50px;\">Issue with
        your request</h1>\n    <p>\n    \tThis is very likely a temporary error and
        we would suggest you retry this action again within the next 30 minutes.  If
        you were in the middle of something critical please contact us at <a href=\"/cdn-cgi/l/email-protection#335b565f43734741565e565d575c46401d505c5e\"><span
        class=\"__cf_email__\" data-cfemail=\"9ff7faf3efdfebedfaf2faf1fbf0eaecb1fcf0f2\">[email&#160;protected]</span></a>.
        If this problem persists beyond 30 minutes, please also contact our team.\n
        \   </p>\n    <p>\n      The Tremendous Team\n    </p>\n  </div>\n<script
        data-cfasync=\"false\" src=\"/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js\"></script><script
        type=\"text/javascript\">(function(){window['__CF$cv$params']={r:'61967140c9cbe6cc',m:'1c02790b64c12397f379d51f0dea7f3427c16ba4-1611959895-1800-ATxuWfMyae7Ee8M8PXG4ZJoL/t2sltSyk3hvamjy0T/y2sW3cnbTbinRY+JTgDg05xe3O3BSE6+tHe+UOlM/kt55dR1sysf/OXN0c2A/BCeBH/hRkGOC1GLhXpA+5busMXtZx607K4xRb60cpbKyItc=',s:[0x37bbda26c6,0x44836d7d5c],}})();</script></html>\n"
  recorded_at: Thu, 04 Feb 2021 23:38:06 GMT
recorded_with: VCR 6.0.0
