---
http_interactions:
- request:
    method: get
    uri: https://testflight.giftrocket.com/api/v1/funding_sources?access_token=5bf0ImG7ADeup5vUN
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f02058a1e5b9fe10a3661a42b0aba04"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"8LQBI4C61HO7","meta":{"available_cents":459200}}]}'
  recorded_at: Sun, 21 Apr 2019 19:27:53 GMT
recorded_with: VCR 4.0.0
