---
http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f93c4f8b31fa850d8c13f2871c6abc1f65b7db63d988d21dccb95376cc9d0f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a3493001fcdb2e83d2327bab94caeb8"
    body:
      encoding: UTF-8
      string: '{"funding_sources":[{"method":"balance","id":"7HTMLN7EMN1T","meta":{"available_cents":450000}}]}'
  recorded_at: Thu, 07 Jan 2021 21:12:21 GMT
[...]
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2/funding_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer superfake
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html xmlns:tremendous='http://www.tremendous.com/ns#'>\n<head
        prefix='og: http://ogp.me/ns# tremendous: http://ogp.me/ns/apps/tremendous#'>\n<script
        type=\"text/javascript\">var _sf_startpt=(new Date()).getTime()</script>\n<link
        rel=\"stylesheet\" media=\"all\" href=\"https://testflight.tremendous.com/assets/application-d6d5a6b44bd0e98ebdcf73bbac1767d14367a5b0085efd46669ecded55b33f58.css\"
        />\n<title>\nApplication Error | Tremendous\n</title>\n<link href='/favicon.png'
        rel='shortcut icon'>\n<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>\n\n\n\n<body>\n
        \ <div style=\"padding: 20px\">\n    <h1 style=\"font-size:50px;\">Issue with
        your request</h1>\n    <p>\n    \tThis is very likely a temporary error and
        we would suggest you retry this action again within the next 30 minutes.  If
        you were in the middle of something critical please contact us at <a href=\"/cdn-cgi/l/email-protection#93fbf6ffe3d3e7e1f6fef6fdf7fce6e0bdf0fcfe\"><span
        class=\"__cf_email__\" data-cfemail=\"bfd7dad3cfffcbcddad2dad1dbd0cacc91dcd0d2\">[email&#160;protected]</span></a>.
        If this problem persists beyond 30 minutes, please also contact our team.\n
        \   </p>\n    <p>\n      The Tremendous Team\n    </p>\n  </div>\n<script
        data-cfasync=\"false\" src=\"/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js\"></script><script
        type=\"text/javascript\">(function(){window['__CF$cv$params']={r:'61967108bbfdc5f8',m:'6a2aa8d498d8e28258270b45f972a671517333c4-1611959886-1800-ATekqTb/uhHVaA4tSD3RChD3bFF6GevFspamy9SQn+ZXMi1zPUNgWei0WEVz5WMcPIzvoFyZYrp7xZtl7g2zuEUxl42FK5I9pBXAm6/dZbxUJXm/wdrgrOv2Z9Ppx7OFijqPTqTBScu7ci65+WpOgQY=',s:[0xc16b6ee63c,0xf15a1ad41e],}})();</script></html>\n"
  recorded_at: Fri, 29 Jan 2021 22:38:04 GMT
recorded_with: VCR 6.0.0
