---
http_interactions:
- request:
    method: get
    uri: https://testflight.giftrocket.com/api/v1/funding_sources?access_token=5bf0ImG7ADeup5vUN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6a05e465c9927ac9b96764f5d24ee72"
    body:
      encoding: ASCII-8BIT
      string: '{"funding_sources":[{"method":"balance","id":"8LQBI4C61HO7","meta":{"available_cents":469400}}]}'
  recorded_at: Sat, 06 Apr 2019 00:49:49 GMT
- request:
    method: get
    uri: https://testflight.giftrocket.com/api/v1/funding_sources?access_token=5bf0ImG7ADeup5vUN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6a05e465c9927ac9b96764f5d24ee72"
    body:
      encoding: ASCII-8BIT
      string: '{"funding_sources":[{"method":"balance","id":"8LQBI4C61HO7","meta":{"available_cents":469400}}]}'
  recorded_at: Sat, 06 Apr 2019 01:01:25 GMT
recorded_with: VCR 4.0.0
